@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: hsl(270, 10%, 80%);
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: linear-gradient(to top right, hsl(270, 64%, 55%), hsl(290, 90%, 15%)); */
  background: url(https://fondosmil.com/fondo/7687.png);
  background-repeat:no-repeat ;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  
}

button {
  font-size: inherit;
  font-family: inherit;
}

button:hover,
button:focus {
  outline: none;
}

a,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

.dashs {
  height: 100vh;
  color: hsl(270, 10%, 80%);
  background: hsla(271, 49%, 10%, 0.822);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 4px 4px 30px hsla(270, 30%, 10%, .4);

}

.dashs * {
  transition: all .1s;
}

.headers {
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 2;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.555);
}

.header__headings {
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__headings>a {
  font-weight: bold;
  letter-spacing: 2px;
  color: hsl(270, 50%, 10%);
  background: hsl(220, 60%, 60%);
  padding: .2rem .7rem;
  font-size: 1.5rem;
  border-radius: 4px;
}

.header__headings>a:hover {
  background: hsl(220, 80%, 64%);
}

.header__searchs {
  flex-grow: 1;
  padding: 0 8.6rem;
}

.header__search-icon {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 3.8rem;
  background: hsl(270, 32%, 17%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__search-icons:hover {
  background: hsl(270, 32%, 20%);
}

.header__search-icons>svg {
  height: 1.6rem;
  opacity: .4;
}

.header__search-icons:hover>svg {
  opacity: .7;
}

.header__optionss {
  padding-right: 2.8rem;
}


.header__links {
  font-size: 1.4rem;
  opacity: .8;
  color: inherit;
  text-decoration: none;
}

.header__links:first-of-type:hover {
  opacity: 1;
}

.header__links:not(:first-of-type) {
  margin-left: 2rem;
  opacity: 1;
}

.bodys {
  display: flex;
}

.sidebars {
  width: 8rem;
  height: 95vh;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.781);
}

.sidebar__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: .6;
  margin-top: 4rem;
  cursor: pointer;
}

.sidebar__icons:first-of-type {
  margin-top: 5rem;
}

/* .sidebar__icons:not(:first-of-type) {
  opacity: .3;
} */

.sidebar__icons:hover {
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 0.479);
  border-radius: 50%;
  
}

.sidebar__icons:last-child {
  margin-top: 10rem;
}

.sidebar__icons>svg {
  height: 2.2rem;
}

#root {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.dark{
  height: auto;
  max-height: 320px;
  opacity: .8;
  box-shadow: 2px 0 12px rgba(241, 241, 241, 0.342);

}


.content h1{
  text-align: center;
  margin-top: 2em;
  font-weight: bold;
}